%h1= t('delayed_job_admin.delayed_jobs.titles.index')

- if @jobs.empty?
  = t('delayed_job_admin.delayed_jobs.no_queued_jobs')
- else
  %table.jobs
    %thead
      %tr
        %th= t('delayed_job_admin.delayed_jobs.table.id')
        %th= t('delayed_job_admin.delayed_jobs.table.priority')
        %th= t('delayed_job_admin.delayed_jobs.table.attempts')
        %th= t('delayed_job_admin.delayed_jobs.table.handler')
        %th= t('delayed_job_admin.delayed_jobs.table.last_error')
        %th= t('delayed_job_admin.delayed_jobs.table.run_at')
        %th= t('delayed_job_admin.delayed_jobs.table.locked_at')
        %th= t('delayed_job_admin.delayed_jobs.table.queue')
        %th= t('delayed_job_admin.delayed_jobs.table.created_at')
        %th= t('delayed_job_admin.delayed_jobs.table.updated_at')
        %th= t('delayed_job_admin.delayed_jobs.table.status')
    %tbody
      - @jobs.each do |job|
        %tr{ id: "job_id_#{job.id}" }
          %td= job.id
          %td= job.priority
          %td= job.attempts
          %td= job.handler
          %td= job.last_error
          %td= job.run_at
          %td= job.locked_at
          %td= job.queue
          %td= job.created_at
          %td= job.updated_at
          %td{ class: job.status.to_s }
            = job.status
            - if job.status.to_s == 'failing'
              = link_to t('delayed_job_admin.delayed_jobs.table.see_more'), class: see_more_link
