= stylesheet_link_tag    "delayed_job_admin/jobs"
= javascript_include_tag "delayed_job_admin/jobs"
%h1= t('delayed_job_admin.delayed_jobs.titles.index')

- if @jobs.empty?
  %p= t('delayed_job_admin.delayed_jobs.no_queued_jobs')
- else
  %table.delayed_job_admin_jobs
    %thead
      %tr
        %th= t('delayed_job_admin.delayed_jobs.table.id')
        %th= t('delayed_job_admin.delayed_jobs.table.priority')
        %th= t('delayed_job_admin.delayed_jobs.table.attempts')
        %th= t('delayed_job_admin.delayed_jobs.table.handler')
        %th= t('delayed_job_admin.delayed_jobs.table.last_error')
        %th= t('delayed_job_admin.delayed_jobs.table.run_at')
        %th= t('delayed_job_admin.delayed_jobs.table.locked_at')
        %th= t('delayed_job_admin.delayed_jobs.table.queue')
        %th= t('delayed_job_admin.delayed_jobs.table.created_at')
        %th= t('delayed_job_admin.delayed_jobs.table.updated_at')
        %th= t('delayed_job_admin.delayed_jobs.table.status')
        %th
    %tbody
      - @jobs.each do |job|
        %tr{ id: "delayed_job_admin_job_id_#{job.id}" }
          %td= job.id
          %td= job.priority
          %td= job.attempts
          %td= render 'shared/truncated_value', { value: job.handler, length: 50 }
          %td= render 'shared/truncated_value', { value: job.last_error, length: 50 }
          %td= job.run_at
          %td= job.locked_at
          %td= job.queue
          %td= job.created_at
          %td= job.updated_at
          %td{ class: job.status.to_s }
            = job.status
          %td
            - if job.status.to_s == 'failing'
              = link_to t('delayed_job_admin.delayed_jobs.table.failing_job.destroy'), job_path(job), confirm: 'Are you sure?', method: :delete

= link_to t('delayed_job_admin.links.archived_jobs'), archived_jobs_path, class: 'delayed_job_admin_navigation_link'
