= javascript_include_tag 'delayed_job_admin/poll_job'
%h1
  Create a delayed job
#status_message{ style: 'font-weight: bold; font-size: 16pt; text-align: center' }
  No job submitted
= form_tag({controller: 'custom_jobs', action: 'create', method: 'post'}, {id: 'create_custom_job_form'}) do
  = label_tag 'name'
  = text_field_tag 'name'
  = label_tag 'delay'
  = text_field_tag 'delay'
  = label_tag 'message'
  = text_field_tag 'message'
  = button_tag 'Create this delayed job', type: 'button', id: 'submit_custom_job'
%p
  To create a job that will raise an error on processing please specify message text of 'ERROR'

= link_to 'Jobs list', delayed_job_admin.jobs_path
